@model Ivedix.Translator.Web.ViewModels.FilesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Download Files</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <ul class="nav navbar-nav">
                @foreach (var item in Model.Files)
            {
                    <li>
                        <a asp-action="Download" asp-route-filename="@item.Name"> @item.Name </a>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>
