@model Language
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
        <h3 class="panel-title">Create Language</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">

            <form asp-action="Create" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-horizontal">

                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>Back to List</a>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


