<!DOCTYPE html>
<html>
<head>
    <title>Translator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/content/landingPage.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Translator</p>
    </footer>
    <script src="~/lib/custom/landingPage.js"></script>
</body>
</html>